@charset "utf-8";
@import '@tabler/core/dist/css/tabler.min.css';

.shy {
    visibility: hidden;
    border: 0px;
    background-color: unset;
    padding-top: 0px;
    padding-bottom: 0px;

}

.hoverable:hover .shy {
    visibility: visible;
}

.expired_date {
    color: red;
}